<div class="list-box">
  @if (label != '') {
    <div class="labels">
      <div class="label-wrapper">
        <div class="label-inner font-tahoma">
          {{label}}
        </div>
      </div>
    </div>
  }
  <ul>
    @for (n of items; track n; let i = $index) {
      <li
        class="font-tahoma"
        (mousedown)="selectionSwitched(n,i)"
        [ngClass]="{'selected': selected == i}">
        <img [src]="n.iconUrl()" alt="list-item-icon">
        <button>
          {{n.display()}}
        </button>
      </li>
    }
  </ul>
</div>
