services:
  social_app_postgres:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: db
      PGDATA: /data/postgres
    ports:
      - '5432:5432'
    volumes:
      - db:/data/postgres

  social_app_redis:
    image: redis:latest
    restart: always
    command: redis-server --save 20 1 --loglevel warning --requirepass 1234
    ports:
      - '6379:6379'
    volumes:
      - redis:/data

  social_app_neo4j:
    image: neo4j:latest
    restart: always
    environment:
      - NEO4J_AUTH=neo4j/password
    ports:
      - '7474:7474'
      - '7687:7687'
    volumes:
      - neo4j:/data

  social_app_rustfs:
    image: rustfs/rustfs:latest
    restart: always
    environment:
      - RUSTFS_ACCESS_KEY=admin
      - RUSTFS_SECRET_KEY=admin123
    ports:
      - '9000:9000'
      - '9001:9001'
    volumes:
      - rustfs:/data

volumes:
  db:
  redis:
  neo4j:
  rustfs:
