<div class="box w2k-window-inner font-tahoma">
  <div class="banner"></div>
  <div class="items">

    <app-start-menu-item
      [hasChildren]="true"
      *ngIf="authService.isAdmin()"
      caption="Administrative tools"
      imageUrl="/assets/admin-tools.png">
      <app-start-menu-item
        caption="Manage tags"
        imageUrl="/assets/tag-s.png"
        (click)="openAdminManageTags()"
      ></app-start-menu-item>
      <app-start-menu-item
        caption="Change activation email"
        imageUrl="/assets/activation-email-s.png"
        (click)="openChangeActivationEmail()"
      ></app-start-menu-item>
    </app-start-menu-item>

    <app-start-menu-item
      [hasChildren]="true"
      caption="Preferences"
      imageUrl="/assets/settings.png">
      <app-start-menu-item
        (click)="openWallpaperSettings()"
        caption="Wallpaper settings"
        imageUrl="/assets/wallpaper-settings-s.png">
        ></app-start-menu-item>
    </app-start-menu-item>

    <app-start-menu-item
      [hasChildren]="true"
      caption="Edit profile"
      imageUrl="/assets/profile-settings.png">
      <app-start-menu-item
        (click)="openChangeUsername()"
        caption="Change username"
        imageUrl="/assets/profile-username.png">
      ></app-start-menu-item>
      <app-start-menu-item
        (click)="openChangePassword()"
        caption="Change password"
        imageUrl="/assets/change-password-s.png">
        ></app-start-menu-item>
    </app-start-menu-item>

    <app-start-menu-item (click)="openSearchFriends()" caption="Search for friends" imageUrl="/assets/search-friends.png"></app-start-menu-item>
    <app-start-menu-item (click)="openFriendManager()" caption="Friends" imageUrl="/assets/friends.png"></app-start-menu-item>
    <app-start-menu-item (click)="openMessenger()" caption="Messenger" imageUrl="/assets/messenger.png"></app-start-menu-item>
    <app-start-menu-item (click)="openShareImage()" caption="Share image" imageUrl="/assets/share-image.png"></app-start-menu-item>
    <app-start-menu-item (click)="openCreatePost()" caption="Create post" imageUrl="/assets/write-post.png"></app-start-menu-item>
    <app-start-menu-item (click)="logout()" caption="Log Out..." imageUrl="/assets/logout.png"></app-start-menu-item>
  </div>
</div>
