<div class="panel">
  <div class="switchers">
    <app-button (click)="openFriendsTab()" caption="Friends"></app-button>
    <app-button (click)="openRequestTab()" caption="Requests"></app-button>
  </div>
  <div class="tab">
    @if (friendsTabOpened) {
      <app-list-small
        (itemClicked)="setSelectedFriendProfile($event)"
        [items]="friendProfiles"
        label="Friends">
      </app-list-small>
    }
    @if (!friendsTabOpened) {
      <app-list-small
        (itemClicked)="setSelectedFriendRequest($event)"
        [items]="friendRequests"
        label="Requests">
      </app-list-small>
    }
  </div>
</div>
@if (friendsTabOpened) {
  <div class="controls">
    <app-button (click)="removeFriend()" [disabled]="this.selectedFriendProfile == null" caption="Remove friend"></app-button>
    <app-button
      [disabled]="this.selectedFriendProfile == null"
      (click)="showProfile(selectedFriendProfile?.user_id)"
    caption="Profile"></app-button>
  </div>
}
@if (!friendsTabOpened) {
  <div class="controls">
    <app-button (click)="acceptFriendRequest()" [disabled]="this.selectedFriendRequest == null" caption="Accept"></app-button>
    <app-button (click)="denyFriendRequest()" [disabled]="this.selectedFriendRequest == null" caption="Deny"></app-button>
    <app-button
      [disabled]="this.selectedFriendRequest == null"
      (click)="showProfile(selectedFriendRequest?.user_id)"
    caption="Profile"></app-button>
  </div>
}
