<div class="w2k-window-inner">
  <div class="title-bar wm_draggable">
    <div class="info">
      @if (iconUrl() !== '') {
        <img [src]="iconUrl()" alt="title-bar-icon" />
      }
      <div class="font-tahoma-bold">{{title()}}</div>
    </div>
    <div class="buttons">
      @if (minimize) {
        <app-title-button (click)="minimizeClicked()" type="minimize"></app-title-button>
      }
      @if (maximize) {
        <app-title-button (click)="maximizeClicked()" type="maximize"></app-title-button>
      }
      @if (close) {
        <app-title-button (click)="closeClicked()" type="close"></app-title-button>
      }
    </div>
  </div>
  <div #content class="window-content">
  </div>
</div>
