[package]
name = "dto"
version = "0.1.0"
edition = "2024"

[dependencies]
axum = { workspace = true }
axum_typed_multipart = { workspace = true }
chrono = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
tempfile = { workspace = true }
