<app-window
  windowTitle="Register"
  windowIconUrl="/assets/toolbox.png"
  [minimize]="false"
  [maximize]="false"
  (closeClicked)="closeWindow()"
>
<form [formGroup]="form">
  <app-input formControlName="email"           type="mail"     [row]="true" caption="E-Mail"></app-input>
  <app-input formControlName="password"        type="password" [row]="true" caption="Password"></app-input>
  <app-input formControlName="confirmPassword" type="password" [row]="true" caption="Confirm password"></app-input>
  <hr>
  <div class="controls">
    <app-button (click)="register()" [disabled]="!form.valid" caption="Register"></app-button>
    <app-button (click)="closeWindow()" caption="Cancel"></app-button>
  </div>
</form>
</app-window>
